{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}|SymfonyCon {% endblock %}

{% block body %}
    <h1>SymfonyCon Schedule</h1>
{#    <main>{% include 'article/session.html.twig' with {article: article} %}</main>
    <a href="{{ path('article-index') }}">Back to the list</a>#}
    <section id="feedback">
        <feedback article-id="{{ article.id }}"></feedback>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
